.henry-chat-window {
    padding: 3%;
    background: white;
}

.henry-message {
    display: block;
    padding: 10px;
    text-align: left;
    border-radius: 10px;
    white-space: pre-wrap;
    max-width: 60%;
    position: relative;
    margin-top: 10px;
    clear: both;
}

.bot-message {
    background: #E0E0E0;
    border-bottom-left-radius: 0px;
    float: left;
}

.user-message {
    background: var(--jp-brand-color1);
    border-bottom-right-radius: 0px;
    float: right;
    color: white;
}

.henry-chat-window input {
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 80%;
    background: white;
    height: 2em;
    padding: 1px;
    padding-left: 2%;
    font-size: medium;
    font-weight: 600;
    border: solid 1px var(--jp-brand-color1);
    box-shadow: var(--jp-input-box-shadow);
} 

.henry-chat-window button {
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 20%;
    height: 2em;
    color: white;
    font-size: medium;
    font-weight: 600;
    background: var(--jp-brand-color1);
    padding: 1px;
    border: solid 1px var(--jp-brand-color1);
    box-shadow: var(--jp-input-box-shadow);
}

.henry-chat-window input ::placeholder {
    color: var(--jp-ui-font-color0);
    font-weight: 600;
    font-family: var(--jp-ui-font-family)
}

.fa {
    margin-top: 2%;
    font-size: large;
    color: #ff7400;
}